@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global base styles only */
html,
body {
  @apply bg-slate-50 font-sans antialiased;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}
